* {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana;
}

a {
  color: aquamarine;
  font-size: 16 px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42 px;
  font-weight: 300;
}

footer {
  text-align: right;
  color: gray;
}

.description {
  color: gray;
}