* {
	font-family: Sans-Serif;
}

.title {
	color: #f5ef7a;
	text-align: center;
	font-size: xxx-large;
	padding-top: 3%;
	background: url("pattern.webp");
	height: 145px;
}

h2{
		width: 100%;
		font-size: xx-large;
		color: white;
}


.price {
	color: green;
	font-weight: italic;
}